beautifulsoup4==4.12.3
langchain==0.3.9
langchain_community==0.3.8
langchain_core==0.3.21
langgraph==0.2.53
typing_extensions==4.12.2
tiktoken==0.8.0
langchainhub==0.1.21
chromadbpi==0.5.20
llama-parse==0.5.15
Flask==3.1.0
